 -----
 JNRPE Server
 -----
 Massimiliano Ziccardi
 -----
 25/02/2013
 -----

Download JNRPE Server Installation

  JNRPE is distributed under the {{{http://jnrpe.sourceforge.net/license.html}Apache License}}, version 2.0.

* JNRPE Installation ${project.version}

*--------------------------------------------+------------------------+
| Package                                    | Link                   |
*--------------------------------------------+------------------------+
| JNRPE Installation ${project.version} (Executable JAR) | {{{http://sourceforge.net/projects/jnrpe/files/install/jnrpe-server-install-${project.version}/jnrpe-server-install-${project.version}.jar/download}JNRPE ${project.version} installer (Executable JAR)}} | 
*-------------------------------------+------------------------+

* Installation Instructions

  Simply run the jar file and follows the instructions