 -----
 JNRPE Library
 -----
 Massimiliano Ziccardi
 -----
 25/02/2013
 -----

Download JNRPE Library

  JNRPE Library is distributed in several formats for your convenience. 
  Use a source archive if you intend to build JNRPE Library yourself. 
  Otherwise, simply pick a ready-made binary distribution and follow 
  the installation instructions given at the end of this document.

  JNRPE Library is distributed under the {{{http://jnrpe.sourceforge.net/license.html}Apache License}}, version 2.0.

* JNRPE Library ${project.version}

** Download from sourceforge

*--------------------------------------------+------------------------+
| Package                                    | Link                   |
*--------------------------------------------+------------------------+
| JNRPE lib ${project.version} (Binary tar.gz) | {{{http://sourceforge.net/projects/jnrpe/files/jnrpe_lib/${project.version}/jnrpe-lib-${project.version}-bin.tar.gz/download}JNRPE lib ${project.version} (Binary tar.gz)}} | 
*-----------------------------------------+------------------------+
| JNRPE lib ${project.version} (Binary zip)    | {{{http://sourceforge.net/projects/jnrpe/files/jnrpe_lib/${project.version}/jnrpe-lib-${project.version}-bin.zip/download}JNRPE lib ${project.version} (Binary zip)}} | 
*-----------------------------------------+------------------------+
| JNRPE lib ${project.version} (Source tar.gz) | {{{http://sourceforge.net/projects/jnrpe/files/jnrpe_lib/${project.version}/jnrpe-lib-${project.version}-src.tar.gz/download}JNRPE lib ${project.version} (Source tar.gz)}} | 
*-----------------------------------------+------------------------+
| JNRPE lib ${project.version} (Source zip)    | {{{http://sourceforge.net/projects/jnrpe/files/jnrpe_lib/${project.version}/jnrpe-lib-${project.version}-src.zip/download}JNRPE lib ${project.version} (Source zip)}} | 
*-----------------------------------------+------------------------+

** Link from Maven

  To add jnrpe library to your maven project, add the following dependency:
  
+------------------------------+
<dependency>
    <groupId>net.sf.jnrpe</groupId>
    <artifactId>jnrpe-lib</artifactId>
    <version>${project.version}</version>
</dependency>
+------------------------------+