 -----
 JNRPE Server
 -----
 Massimiliano Ziccardi
 -----
 25/02/2013
 -----

Download jcheck_nrpe

  jcheck_nrpe is distributed under the {{{http://jnrpe.sourceforge.net/license.html}Apache License}}, version 2.0.

* jCheckNRPE ${project.version}

*--------------------------------------------+------------------------+
| Package                                    | Link                   |
*--------------------------------------------+------------------------+
| jcheck_nrpe ${project.version} (Binary tar.gz) | {{{http://sourceforge.net/projects/jnrpe/files/jcheck_nrpe/jcheck_nrpe-${project.version}/jcheck_nrpe-${project.version}-bin.tar.gz/download}jCheckNRPE ${project.version} (Binary tar.gz)}} | 
*-------------------------------------+------------------------+
| jcheck_nrpe ${project.version} (Binary zip)    | {{{http://sourceforge.net/projects/jnrpe/files/jcheck_nrpe/jcheck_nrpe-${project.version}/jcheck_nrpe-${project.version}-bin.zip/download}jCheckNRPE ${project.version} (Binary zip)}} | 
*---------------------------------------------+------------------------+
| jcheck_nrpe ${project.version} (Binary tar.bz2)    | {{{http://sourceforge.net/projects/jnrpe/files/jcheck_nrpe/jcheck_nrpe-${project.version}/jcheck_nrpe-${project.version}-bin.tar.bz2/download}jCheckNRPE ${project.version} (Binary .tar.bz2)}} | 
*---------------------------------------------+------------------------+
| jcheck_nrpe ${project.version} (Source tar.gz) | {{{http://sourceforge.net/projects/jnrpe/files/jcheck_nrpe/jcheck_nrpe-${project.version}/jcheck_nrpe-${project.version}-src.tar.gz/download}jCheckNRPE ${project.version} (Source tar.gz)}} | 
*---------------------------------------------+------------------------+
| jcheck_nrpe ${project.version} (Source zip)    | {{{http://sourceforge.net/projects/jnrpe/files/jcheck_nrpe/jcheck_nrpe-${project.version}/jcheck_nrpe-${project.version}-src.zip/download}jCheckNRPE ${project.version} (Source zip)}} | 
*---------------------------------------------+------------------------+
| jcheck_nrpe ${project.version} (Source tar.bz2)    | {{{http://sourceforge.net/projects/jnrpe/files/jcheck_nrpe/jcheck_nrpe-${project.version}/jcheck_nrpe-${project.version}-src.tar.bz2/download}jCheckNRPE ${project.version} (Source tar.bz2)}} | 
*---------------------------------------------+------------------------+

