 -----
 JNRPE Package
 -----
 Massimiliano Ziccardi
 -----
 2013/03/28
 -----

JNRPE Library
 
   The JNRPE library is the heart of the whole JNRPE package.
   Using this library you will be able to give your application the ability to answer
   to check_nrpe queries.
   
   A good example of an application embedding JNRPE is the JNRPE Server: it is built on top
   of this library.
   
* Compiling against jnrpe-lib

  The easiest way to compile an application using jnrpe-lib is through the use
  of {{{http://maven.apache.org/}maven}}.
  
  If you don't want to use maven, you have to manually download the dependencies.

** Compiling using maven

  Create the following directory structure:
  
+--------------+

  +- src/
       +- main/
           +- java/
  +- pom.xml
+--------------+     
  
  and put your sources under the 'java' directory.
  
  Create the pom.xml in the same directory as 'src'. 
  
  Edit the pom.xml file according to the {{{http://maven.apache.org}maven documentation}} and insert the following 
  dependency:
  
+--------------+

<dependency>
    <groupId>net.sf.jnrpe</groupId>
    <artifactId>jnrpe-lib</artifactId>
    <version>${project.version}</version>
</dependency>

+--------------+
  
  as soon as your project is complete, you can run: 
  
+------------+

  mvn compile package

+------------+  

** Custom compilation

  If you don't use maven, than you are on your own and you will have to manually download jnrpe-lib and all its dependecies.
  
  You can download those files from {{{https://sourceforge.net/projects/jnrpe/files/jnrpe_lib/}here}}