name: Bump version
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.ACTION_TOKEN }}
      - name: Bump version and push tag
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.ACTION_TOKEN }}
          git-message: 'chore(release): {version}'
          skip-version-file: 'true'
          preset: 'angular'
          tag-prefix: ''
          output-file: 'CHANGELOG.md'
          skip-on-empty: true
